<div class="sidebar-container">
    <aside id="sidebar" class="collapsed">
        <div class="main_sidebar">
            <div class="sidebar-top">
                <nav>
                    <a href="{% url 'scanner_barcode:scan_barcode' %}"><span>Сканер</span></a>
                    <a href="{% url 'admin:index' %}">Налаштування</a>
                </nav>
            </div>
            <div class="sidebar-middle">
                <p>День: {{ daily_income }} грн</p>
                <p>Тиждень: {{ weekly_income }} грн</p>
                <p>Місяць: {{ monthly_income }} грн</p>
            </div>

            <div class="sidebar-bottom">
                {% include 'includes/calendar.html' %}
            </div>
        </div>
    </aside>
    <button class="toggle-btn" onclick="toggleSidebar()">⟫</button>
</div>